h2 {
  font-size: 35px;
  align-self: left;
}

.data {
  display: flex;
  flex-direction: row;
}

h2 {
  font-size: 25px;
}

#people {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

#films {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

#starships {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

#vehicles {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

form {
  margin-bottom: 15px;
  margin-inline-start: 15px;
}
